* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: opacity 1s ease;
}
#mainContent h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 44px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #9c7c7c, #ff9900);;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Form Container */
form {
    width: 95%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input & Select */
input, select {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus, select:focus {
    border-color: #ff4d4d;
}

/* Button */
button {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #ff4d4d;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e60000;
}